{% extends 'base.html.twig' %}

{% block title %}Welcome to MusicList!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container-fluid { text-align: center;}
    .margin-t{margin-top: 350px;}
</style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#">MusicList!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/default">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/artist">Artist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/optreden">Acts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="margin-t"></div>
    <div class="container-fluid">
    <h1>Opzoek naar een optreden van jou favoriete artiest?</h1>
        <p>Dan bent u hier bij het juiste adres!</p>
    </div>

{% endblock %}
